html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: rgb(25, 228, 150);
  --color2: rgb(125, 174, 230);
  --color3: rgb(226, 123, 209);
}

.container {
  width: 35vw;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(
    var(--color1),
    var(--color2),
    var(--color3)
  );
  border-radius: 24px;
}

.avartar img {
  width: 200px;
  height: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 4px solid #fff;
  border-radius: 50%;
}
.header {
  display: flex;
  flex-direction: column;
}
.icon1 {
  font-size: 42px;
  margin-top: 32px;
  margin-left: 24px;
  color: rgb(45, 45, 211);
}
.icon2 {
  margin-top: 24px;
  margin-left: 24px;
}

.avartar img:hover {
  width: 40vw;
  height: 100vh;
  margin-top: -64px;
  border-radius: 24px;
  border: 4px solid var(--color1);
  transition: 0.2s linear;
}
img:hover .info {
display: none;
}

.info ul {
  font-size: 24px;
  font-weight: bold;
  list-style: none;
  margin-left: 50%;
  transform: translateX(-40%);
}

.hl {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}
.hl a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 32px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgb(39, 37, 37);
}

